@page
@model HugAPet.Auth.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/duende-logo.svg" class="logo">
        Welcome to Duende IdentityServer
        <small class="text-muted">(version @Model.Version)</small>
    </h1>

    <ul>
        <li>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
    </ul>

    @if(Model.License != null)
    {
        <h2>License</h2>
        <dl>
            <dt>Serial Number</dt>
            <dd>@Model.License.SerialNumber</dd>
            <dt>Expiration</dt>
            <dd>@Model.License.Expiration!.Value.ToLongDateString()</dd>
        </dl>
    }
</div>
