.idea/
*.sln.iml
*.userprefs

.DS_Store
.AppleDouble
.LSOverride



bin/
obj/
out/

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/build/


*.suo
*.user
*.userosscache
*.sln.docstates

*.dotCover

# Visual Studio code coverage results
*.coverage
*.coveragexml


infra/certs/*