@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div>
            Hello, @context.User.Identity?.Name!
            <span @onclick="BeginLogOut">Log out</span>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}